/* .hover_effect:hover {
  color: blueviolet;
} */

.content {
  margin-top: 6.5rem;
  margin-bottom: 2.5rem;
}

.tech_icons i {
  font-size: 4rem;
}

.tech_icons span {
  font-size: 1.5rem;
}

.tech_icons svg {
  /* width: 17.7%; */
  width: 30%;
  height: 90%;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

@media (max-width: 450px) {
  .tech_icons i {
    font-size: 4.5rem;
  }

  .tech_icons span {
    font-size: 1.3rem;
  }

  .goal_text {
    font-size: 1.4rem;
  }
}
